* {
  box-sizing: border-box;
  margin: 0;
}

body{
  width: 100vw;
  height: 100vh;
}

.App  {
  width: 100vw;
  height: 100vh;
  /* border: 1px solid black; */
  background-color: #606060ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 30%;
  min-width: 250px;
  max-height: 72vh;
  /* min-height: 80px; */
  /* border: 1px solid white; */
  border-radius: 1.4%;
  background-color: #D6ED17FF;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.title  {
  width: 80%;
  height: 10%;
  /* border: 1px solid white; */
  justify-content: center;
  align-items: center;
  color: rgb(212, 253, 166);
  text-align: center;
  /* padding-left: 4%; */
}

.count  {
  width: 100%;
  height: 7%;
  /* border: 1px solid black; */
  padding-left: 3%;
  font-weight: bold;
}

.persons  {
  width: 100%;
  min-height: 30px;
  /* border: 1px solid black; */
  overflow-y: scroll;
}

.button {
  width: 50%;
  height: 30px;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: #606060ff;
  color: #F6FD77FF;
  border: 0;
  border-radius: 5px;
  margin: 3% 0;
}

.person{
  width: 90%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.nameAge {
  width: 80%;
  /* border: 1px solid red; */
  padding: 4% 0 0 4%;
}

.person img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: center;
  margin-left: 4%;
}

